
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700');

body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  width: 100%;
}

header {
  max-width: 950px;
  margin: 30px auto;
}

h1 {
  font-size: 32px;
}

strong {
  font-weight: bold;
}

.section {
  background-color: #ecf0f1;
  width: 100%;
  padding: 20px;
  margin: 25px 0;
}

.form__box {
  border: 1px solid #c7c7c7;
  border-top: 7px solid #16ad0e;
  max-width: 575px;
  margin: 30px auto;
  border-radius: 5px;
  padding: 55px;
  box-shadow: 0 0 2px 1px #ccc;
}

fieldset:not(:first-child) {
  margin-top: 35px;
}

legend {
  margin-bottom: 20px;
}

select, input, button {
  font-size: 25px;
  height: 50px;
  width: 100%;
  max-width: 475px;
  padding: 0 15px;
  box-sizing: border-box;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  background-color: #16ad0e;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  width: 575px;
  position: relative;
  outline: none;
  cursor: pointer;
}

.button:after {
  content: '›';
  font-size: 2em;
  position: absolute;
  right: 10px;
  color: white;
  bottom: 0;
  font-weight: normal;
}

.step2, .step3 {
  display: none;
}

footer {
  width: 100%;
  border-top: 1px solid #ecf0f1;
  margin-top: 30px;
  line-height: 1.3;
}

.footer__text {
  max-width: 950px;
  margin: 0 auto;
}

.small {
  font-size: 0.5em;
  margin-top: 20px;
}
